extends ../../layouts/default

include ../../mixins/organiser

block intro
	.page-intro: .container
		h1 About
		p We are standing up for our rights as Oklahomans. We stand proud for the legalization of marijuana to improve the health and well-being of the people of Oklahoma and eliminate the terrors of the War on Marijuana.
		p From out of a network of grassroots organizations scattered through-out the state, LegalizeOK is actively working on ending cannabis prohibition in Oklahoma by means of the ballot initiative process.

block content
	.container
		// - h2 Organisers
		// - p.lead Each month the SydJS team works to bring you great presenters in a great venue.
		// - .row.about-organisers
		// - 	each org in organisers
		// - 		.col-sm-3
		// - 			+organiser(org)
		//- CODE
		a(name='code')
		h2	Mission Statement
		.row
			.col-sm-9.col-md-8
				h3 LegalizeOK is committed to maintaing a non-partisan platform of liberty for all Oklahomans!
				p LegalizeOK is also committed to maintaining a locally based coalition that will actively partner with community leaders, activists, and businesses that support legalization.
				p We believe is the right of everyone Oklahoman to have unfettered access to the fruits of the earth without the threat of government interference or becoming subject to an immoral incarceration system.
				p With that in mind, if you are present at any LegalizeOK events, whether as an attendee, organiser, sponsor, or speaker, we take it as given that you agree to follow this code of conduct:
				p The LegalizeOK community is dedicated to providing harassment-free experiences at events and signature drives for everyone regardless of who they are or what they believe. We do not tolerate harassment in any form.
				p All communication should be appropriate for a professional audience including people of many different backgrounds.
				p Be kind and respectful towards others. Remember that harassment and exclusionary jokes are not appropriate for events supported by LegalizeOK.
				p Anyone violating these rules at events may be asked to leave the event.
				p If you or someone else is subject to harassment, or you have a concern, please contact the event organisers (who will introduce themselves at the beginning of the event).
				p The LegalizeOK community is a welcoming and friendly place – thank you for being a part of it.
				p If you believe in building people, growing communities, and expanding liberty, then you are a part of us.
			
			.col-sm-3.col-md-offset-1
				hr.visible-xs
				h3 Thank you
				p This Mission and Code of Conduct has learned and borrowed much from others. Thank you to all who provided inspiration and feedback.

block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
