extends ../../layouts/default

block content
	.page-intro: .container
		h1 How to contribute
		p The first thing anyone in the state of Oklahoma can do to further the legalization movement is to ensure that you are <strong>registered to vote</strong> as only registered voters in the state can sign the petitions. You can also <strong>sign up</strong> with us on this website so that we can keep you up to date with local events.
		.buttons
			if !user
				a(href='https://docs.google.com/forms/d/1SAc-05NCYuH21FHTwpI8XO4p7p-qYZpsBBjNdIK5mkU/viewform').btn.btn-default Sign Up To Volunteer
	.container
		h2 Volunteer
		p You if you are able and wanting to truly contribute to this historic movement for cannabis freedom we sure could use the help! We need to collect at least 200,000 signatures of registered voters!
		p We need canvassers, doorknockers, writers, musicians, and activists of all stripes. Whatever it is that you are particularly gifted with, there is a way to help out the cause.
		h3 Donate
		p Oklahomans for Health has been formed to facilitate the costs associated with this kind of long-term effort.
		a(href='http://www.oklahomansforhealth.com/').btn.btn-default Donate Here
		h3 Sponsor
		p Besides volunteering your time, or contributing some funding, you can also help sponser the campaign by hosting an event or fundraiser.
		p If you are a local business (bar, music venu, shop, etc.) you may also place a petition/sign up sheet in your business, which subsequently benefits from free advertising and increased foot traffic. Think about it, and let us know. 
