extends ../../layouts/default

block content
	.page-intro: .container
		h1 How to contribute
		p The first thing anyone in the state of Oklahoma can do to further the legalization movement is to ensure that you are regstered to vote as only registered voters in the state can sign the petitions in order to get the issue on the ballot. You can also sign up with us on this website so that we can keep you up to date with local events.
		.buttons
			if !user
				a(href='/join').btn.btn-primary Join This Website and Express Your Support
				a(href='https://docs.google.com/forms/d/1SAc-05NCYuH21FHTwpI8XO4p7p-qYZpsBBjNdIK5mkU/viewform').btn.btn-default Sign Up To Volunteer
	.container
		h2 Volunteer
		p You if you are able and wanting to truly contribute to this historic movement for cannabis freedom we sure could use the help! In tulsa, we are planning out and wirting our local petition which will be filed with the city by the first week of may, from then 90 days is the limit to collect at least 20,000 signatures of registered voters, while currently OKC is aleardy gather their signatures and has events scheduled to finish the job over the course of the next couple months. 
		p We need canvassers, doorknockers, writers, musicians, and activists of all stripes. Whatever it is that you are particularly gifted with, their is a way to help out the cause.
		h3 Donate
		p Currently a non-partisan 501c4 is being incorporated in Oklahoma by local OKlahomans in order to better facilitate what will inevitably be the costs associated with this kind of long-term effort.
		p If you would like to donate here's how:
		h3 Sponsor
		p Besides volunteering your time, or contributing some funding, you can also help sponser the campaign by hosting an event or fundraiser.
		p If you are a local business you (bar, music venu, shop, etc.) may also place a peition sign up sheet in your business, which subsequently benefits from free advertising and increased foot traffic. Think about it, let us know. 
